<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="gallery-slide.css" />
    <script src="gallery-slide.js"></script>
    <title>Gallery Slider</title>
  </head>
  <body>
    <div class="gallery-container">
      <div class="gallery-wrapper">
        <a class="gallery-component" href="/">
          <img
            class="gallery-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="gallery thumbnail 이미지"
          />
          <div class="gallery-profile">
            <img
              class="gallery-profile-img"
              src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
              alt="프로필 사진"
            />
            <h2 class="gallery-name">name1</h2>
          </div>
        </a>
        <a class="gallery-component" href="/">
          <img
            class="gallery-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="gallery thumbnail 이미지"
          />
          <div class="gallery-profile">
            <img
              class="gallery-profile-img"
              src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
              alt="프로필 사진"
            />
            <h2 class="gallery-name">name2</h2>
          </div>
        </a>
        <a class="gallery-component" href="/">
          <img
            class="gallery-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="gallery thumbnail 이미지"
          />
          <div class="gallery-profile">
            <img
              class="gallery-profile-img"
              src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
              alt="프로필 사진"
            />
            <h2 class="gallery-name">name3</h2>
          </div>
        </a>
        <a class="gallery-component" href="/">
          <img
            class="gallery-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="gallery thumbnail 이미지"
          />
          <div class="gallery-profile">
            <img
              class="gallery-profile-img"
              src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
              alt="프로필 사진"
            />
            <h2 class="gallery-name">name4</h2>
          </div>
        </a>
        <a class="gallery-component" href="/">
          <img
            class="gallery-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="gallery thumbnail 이미지"
          />
          <div class="gallery-profile">
            <img
              class="gallery-profile-img"
              src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
              alt="프로필 사진"
            />
            <h2 class="gallery-name">name5</h2>
          </div>
        </a>
        <a class="gallery-component" href="/">
          <img
            class="gallery-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="gallery thumbnail 이미지"
          />
          <div class="gallery-profile">
            <img
              class="gallery-profile-img"
              src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
              alt="프로필 사진"
            />
            <h2 class="gallery-name">name6</h2>
          </div>
        </a>
        <a class="gallery-component" href="/">
          <img
            class="gallery-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="gallery thumbnail 이미지"
          />
          <div class="gallery-profile">
            <img
              class="gallery-profile-img"
              src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
              alt="프로필 사진"
            />
            <h2 class="gallery-name">name7</h2>
          </div>
        </a>
        <a class="gallery-component" href="/">
          <img
            class="gallery-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="gallery thumbnail 이미지"
          />
          <div class="gallery-profile">
            <img
              class="gallery-profile-img"
              src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
              alt="프로필 사진"
            />
            <h2 class="gallery-name">name8</h2>
          </div>
        </a>
        <a class="gallery-component" href="/">
          <img
            class="gallery-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="gallery thumbnail 이미지"
          />
          <div class="gallery-profile">
            <img
              class="gallery-profile-img"
              src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
              alt="프로필 사진"
            />
            <h2 class="gallery-name">name9</h2>
          </div>
        </a>
        <a class="gallery-component" href="/">
          <img
            class="gallery-img"
            src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
            alt="gallery thumbnail 이미지"
          />
          <div class="gallery-profile">
            <img
              class="gallery-profile-img"
              src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
              alt="프로필 사진"
            />
            <h2 class="gallery-name">name10</h2>
          </div>
        </a>
      </div>
      <div class="button-container">
        <button class="prev-btn">
          <img src="/src/assets/left-button.svg" alt="왼쪽 버튼" />
        </button>
        <button class="next-btn">
          <img src="/src/assets/right-button.svg" alt="오른쪽 버튼" />
        </button>
      </div>
    </div>
  </body>
</html>
