<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="aboutme-component.css" />
    <title>aboutme-component</title>
  </head>
  <body>
    <!-- 모바일 About me -->
    <div class="aboutme-mobile">
      <a href="/" style="text-decoration: none">
        <img
          class="aboutme-thumbnail-image"
          src="https://i.pinimg.com/236x/f7/db/15/f7db1537e0e39de83589912d4d42e57a.jpg"
          alt="프로필 이미지"
        />
        <div class="aboutme-thumbnail-contents">
          <h1 class="aboutme-thumbnail-name">김혜민</h1>
          <p class="aboutme-thumbnail-text">
            가나다라마바사가나가가가가가가가각가가가가가가가가가가가가가가가가가가가가가가가가각가가
          </p>
        </div>
      </a>
    </div>
  </body>
</html>
